<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.genericCPPPlugIn</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a generic C++ template that exposes a C interface, uses the static C++ standard library, and Dwarf for debugging.</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.macBase</string>
		<string>com.apple.dt.unit.macReferenceCounting</string>
	</array>
	<key>Project</key>
	<dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string>___PACKAGENAMEASIDENTIFIER___Proj.xcconfig</string>
			<key>Release</key>
			<string>___PACKAGENAMEASIDENTIFIER___Proj.xcconfig</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
            <key>SharedSettings</key>
            <dict>
                <key>COMBINE_HIDPI_IMAGES</key>
                <string>YES</string>
            </dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
			</array>
			<key>BasedOn</key>
			<dict>
				<key>Debug</key>
				<string>___PACKAGENAMEASIDENTIFIER___Target.xcconfig</string>
				<key>Release</key>
				<string>___PACKAGENAMEASIDENTIFIER___Target.xcconfig</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>CoreFoundation</string>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Info.plist:plugIn</string>
		<string>___PACKAGENAME___-Info.plist:NSHumanReadableCopyright</string>
		<string>___PACKAGENAME___-Prefix.pch:CoreFoundation</string>
		<string>___PACKAGENAMEASIDENTIFIER___Proj.xcconfig</string>
		<string>___PACKAGENAMEASIDENTIFIER___Target.xcconfig</string>
		<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___Priv.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.cp</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___-Info.plist:plugIn</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;English&lt;/string&gt;
&lt;key&gt;CFBundleExecutable&lt;/key&gt;
&lt;string&gt;$(EXECUTABLE_NAME)&lt;/string&gt;
&lt;key&gt;CFBundleName&lt;/key&gt;
&lt;string&gt;$(PRODUCT_NAME)&lt;/string&gt;
&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
&lt;string&gt;6.0&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;BNDL&lt;/string&gt;
&lt;key&gt;CFBundleSignature&lt;/key&gt;
&lt;string&gt;????&lt;/string&gt;
&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1&lt;/string&gt;
&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;CSResourcesFileMapped&lt;/key&gt;
&lt;string&gt;yes&lt;/string&gt;
</string>
		<key>___PACKAGENAME___-Prefix.pch:CoreFoundation</key>
		<string>#include &lt;CoreFoundation/CoreFoundation.h&gt;</string>
		<key>___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.h</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.cp</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.cp</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___Priv.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___Priv.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___Proj.xcconfig</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___Proj.xcconfig</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___Target.xcconfig</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___Target.xcconfig</string>
		</dict>
	</dict>
</dict>
</plist>
